{% extends 'devctrl.html' %}

{% block head_extra %}
<script type="module" src="{{ url_for('static', filename='scripts/scripts_devctrl_admin.js') }}"></script>
{% endblock %}


{% block parameters %}
<div class="box" id="parameters">
    <form action="" method="POST" id="parameter-control-siren-and-insolation">
        <button class="collapsible main-content-dropdown">
            <h2>
                Siren and insolation
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="siren-on-time" name="siren-on-time" placeholder="Siren on time (0-255s)">
            <input type="text" id="insolation-percentage" name="insolation-percentage" placeholder="Insolation (%)">
            <button name="submit-siren-and-insolation" id="submit-siren-and-insolation" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-position">
        <button class="collapsible main-content-dropdown">
            <h2>
                Global position
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="latitude" name="latitude" placeholder="Latitude">
            <input type="text" id="longitude" name="longitude" placeholder="Longitude">
            <button name="submit-position" id="submit-position" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-time-offset">
        <button class="collapsible main-content-dropdown">
            <h2>
                Time offset
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="time-offset" name="time-offset" placeholder="Time offset (-65535 to 65535)">
            <button name="submit-time" id="submit-time" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-angle-limits">
        <button class="collapsible main-content-dropdown">
            <h2>
                Angle limits
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="limit-east" name="limit-east" placeholder="East limit">
            <input type="text" id="limit-west" name="limit-west" placeholder="West limit">
            <button name="submit-angle-limits" id="submit-angle-limits" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-height">
        <button class="collapsible main-content-dropdown">
            <h2>
                Height difference
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="height-first" name="height-first" placeholder="First panel height">
            <input type="text" id="height-second" name="height-second" placeholder="Second panel height">
            <button name="submit-height" id="submit-height" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-length-distance">
        <button class="collapsible main-content-dropdown">
            <h2>
                Panel length & axis distance
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="axis-distance" name="axis-distance" placeholder="Panel axis distance">
            <input type="text" id="panel-length" name="panel-length" placeholder="panel length">
            <button name="submit-length-and-distance" id="submit-length-and-distance" class="submit-button">Send data</button>
        </div>
    </form>
    <form action="" method="POST" id="parameter-control-home-rpd">
        <button class="collapsible main-content-dropdown">
            <h2>
                Home position & motor RPD
            </h2>
        </button>
        <div class="content">
            <input type="hidden" name="params"> <!--Used to find all forms in 'parameters'-->
            <input type="text" id="home-position" name="home-position" placeholder="Home position (degrees)">
            <input type="text" id="motor-rpd" name="motor-rpd" placeholder="Revolutions per degree">
            <button name="submit-home-rpd" id="submit-home-rpd" class="submit-button">Send data</button>
        </div>
    </form>
</div>
<div class="box" id="defaults">
    <form action="" method="POST" id="submit-defaults-form">
        <h2>Reset to defaults</h2>
        <button name="submit-defaults" id="submit-defaults" class="submit-button">Reset</button>
    </form>
</div>
{% endblock %}

{% block delete_device %}
<div class="box" id="delete-device">
    <form action="" method="POST" id="delete-device-form">
        <h2>Delete device</h2>
        <button name="submit-delete-device" id="submit-delete-device" class="submit-button" style="background-color: #ff4545;">DELETE DEVICE</button>
    </form>
</div>
{% endblock %}